# 第三次课作业

In [1]:
import pandas as pd

## （1）Pandas基础知识

（1）用字典数据类型创建DataFrame。
data={'state':['a','b','c','d'],
'year':[1991,1992,1993,1994],
'pop':[6,7,8,9]}

In [16]:
data={'state':['a','b','c','d'],
'year':[1991,1992,1993,1994],
'pop':[6,7,8,9]}
df=pd.DataFrame(data)
df

  state  year  pop
0     a  1991    6
1     b  1992    7
2     c  1993    8
3     d  1994    9

（2）将创建的Dataframe的索引设置为，ABCD。并且命名为“索引”。

In [17]:
df.index.name = "索引"
df.index = list("ABCD")
df.index

Index(['A', 'B', 'C', 'D'], dtype='object')

（3）在下面新增一行。然后删除。

In [18]:
a=pd.Series({'state':'e','year':1995,'pop':10})
a.name = 'E'
df=df.append(a)
df = df.drop(['E']) # df = df.iloc[:-1]
df

C:\Users\2075221336\AppData\Local\Temp\ipykernel_60384\4088171734.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df=df.append(a)

  state  year  pop
A     a  1991    6
B     b  1992    7
C     c  1993    8
D     d  1994    9

（4）增加新的属性列，列名设置为‘port’，值均为1。

In [19]:
import numpy as np
df['port']=np.ones(4)
df

  state  year  pop  port
A     a  1991    6   1.0
B     b  1992    7   1.0
C     c  1993    8   1.0
D     d  1994    9   1.0

（5）取出1991和1994年的数据。

In [21]:
df[(df.year == 1991)|(df.year==1994)]

  state  year  pop  port
A     a  1991    6   1.0
D     d  1994    9   1.0

（6）获取前‘state’和‘year’的数据。

In [22]:
df[['state','year']]

  state  year
A     a  1991
B     b  1992
C     c  1993
D     d  1994

（7）查看每一列数据的数据格式，并且将‘pop’每个数据乘2。

In [25]:
df.dtypes

state     object
year       int64
pop        int64
port     float64
dtype: object

In [29]:
df['port'] = df['port']*2
df

  state  year  pop  port
A     a  1991  2.0   2.0
B     b  1992  2.0   2.0
C     c  1993  2.0   2.0
D     d  1994  2.0   2.0

## （2）数据操作

（1）读取香港酒店数据。

In [34]:
df1 = pd.read_excel('香港酒店数据.xlsx')
df1.head()

,Unnamed: 0,字段1,字段2,字段3,字段4,字段5,字段6,字段7,字段8
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,香港嘉湖海逸酒店(Harbour Plaza Resort City),休闲度假,香港,元朗,天水围 天恩路18号,4.6,17604.0,422.0
2,1.0,香港铜锣湾皇悦酒店(Empire Hotel Hong Kong-Causeway Bay),浪漫情侣,香港,东区,铜锣湾永兴街8号,4.5,12708.0,693.0
3,2.0,香港碧荟酒店(The BEACON),商务出行,香港,油尖旺,九龙旺角洗衣街88号,4.7,328.0,747.0
4,3.0,香港湾仔帝盛酒店(Dorsett Wanchai),浪漫情侣,香港,湾仔,皇后大道东387-397号,4.4,5014.0,693.0

（2）按照数据的内容，重新设置数据的索引，重新设置列名称为'名字','类型','城市','地区','地点','评分','评分人数','价格'。

In [38]:
df1 = df1.drop('Unnamed: 0',axis=1)
df1.head()

,字段1,字段2,字段3,字段4,字段5,字段6,字段7,字段8
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,香港嘉湖海逸酒店(Harbour Plaza Resort City),休闲度假,香港,元朗,天水围 天恩路18号,4.6,17604.0,422.0
2,香港铜锣湾皇悦酒店(Empire Hotel Hong Kong-Causeway Bay),浪漫情侣,香港,东区,铜锣湾永兴街8号,4.5,12708.0,693.0
3,香港碧荟酒店(The BEACON),商务出行,香港,油尖旺,九龙旺角洗衣街88号,4.7,328.0,747.0
4,香港湾仔帝盛酒店(Dorsett Wanchai),浪漫情侣,香港,湾仔,皇后大道东387-397号,4.4,5014.0,693.0

In [39]:
df1.columns = ['名字','类型','城市','地区','地点','评分','评分人数','价格']
df1.head()

,名字,类型,城市,地区,地点,评分,评分人数,价格
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,香港嘉湖海逸酒店(Harbour Plaza Resort City),休闲度假,香港,元朗,天水围 天恩路18号,4.6,17604.0,422.0
2,香港铜锣湾皇悦酒店(Empire Hotel Hong Kong-Causeway Bay),浪漫情侣,香港,东区,铜锣湾永兴街8号,4.5,12708.0,693.0
3,香港碧荟酒店(The BEACON),商务出行,香港,油尖旺,九龙旺角洗衣街88号,4.7,328.0,747.0
4,香港湾仔帝盛酒店(Dorsett Wanchai),浪漫情侣,香港,湾仔,皇后大道东387-397号,4.4,5014.0,693.0

In [40]:
df1.index = range(1,len(df1)+1)
df1.head()

,名字,类型,城市,地区,地点,评分,评分人数,价格
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,香港嘉湖海逸酒店(Harbour Plaza Resort City),休闲度假,香港,元朗,天水围 天恩路18号,4.6,17604.0,422.0
3,香港铜锣湾皇悦酒店(Empire Hotel Hong Kong-Causeway Bay),浪漫情侣,香港,东区,铜锣湾永兴街8号,4.5,12708.0,693.0
4,香港碧荟酒店(The BEACON),商务出行,香港,油尖旺,九龙旺角洗衣街88号,4.7,328.0,747.0
5,香港湾仔帝盛酒店(Dorsett Wanchai),浪漫情侣,香港,湾仔,皇后大道东387-397号,4.4,5014.0,693.0

（3）查看所有类型为“浪漫情侣”的酒店

In [41]:
df1[df1.类型 == '浪漫情侣']

,名字,类型,城市,地区,地点,评分,评分人数,价格
3,香港铜锣湾皇悦酒店(Empire Hotel Hong Kong-Causeway Bay),浪漫情侣,香港,东区,铜锣湾永兴街8号,4.5,12708.0,693.0
5,香港湾仔帝盛酒店(Dorsett Wanchai),浪漫情侣,香港,湾仔,皇后大道东387-397号,4.4,5014.0,693.0
6,如心艾朗酒店(L‘hotel elan),浪漫情侣,香港,观塘,观塘创业街38号,4.6,3427.0,581.0
7,香港隆堡柏宁顿酒店(Hotel Pennington by Rhombus),浪漫情侣,香港,湾仔,铜锣湾边宁顿街13-15号,4.5,1938.0,869.0
22,香港恒丰酒店(Prudential Hotel),浪漫情侣,香港,油尖旺,尖沙嘴 弥敦道222号,4.5,8194.0,692.0
...,...,...,...,...,...,...,...,...
236,香港金坊宾馆(GOLD PALACE HOTEL),浪漫情侣,香港,NaN,香港油尖旺区九龙旺角弥敦道607号新兴大厦22字楼2201室,4.7,436.0,245.0
242,香港登台酒店(HOTEL STAGE),浪漫情侣,香港,油尖旺,佐敦志和街1号,4.7,962.0,1084.0
248,香港红茶馆酒店(鸭脷洲大街店)(Bridal Tea House Hotel (Ap Lei...,浪漫情侣,香港,南区,港岛鸭脷洲大街95号,4.2,1203.0,377.0
249,香港乐仕酒店(Acesite Knutsford Hotel),浪漫情侣,香港,油尖旺,九龙尖沙咀天文台围8号,4.2,1879.0,237.0
261,香港旺角新天地酒店(Mong Kok Sunny Day Hotel),浪漫情侣,香港,油尖旺,香港九龍旺角新填地街419號,4.3,784.0,949.0

（4）查看所有类型为“浪漫情侣”，地区在湾仔的酒店

In [42]:
df1[(df1.类型 == '浪漫情侣') &(df1.地区 == '湾仔')]

,名字,类型,城市,地区,地点,评分,评分人数,价格
5,香港湾仔帝盛酒店(Dorsett Wanchai),浪漫情侣,香港,湾仔,皇后大道东387-397号,4.4,5014.0,693.0
7,香港隆堡柏宁顿酒店(Hotel Pennington by Rhombus),浪漫情侣,香港,湾仔,铜锣湾边宁顿街13-15号,4.5,1938.0,869.0
25,香港南洋酒店(South Pacific Hotel),浪漫情侣,香港,湾仔,摩理臣山道23号,4.5,7981.0,445.0
37,香港遨舍卫兰轩(OZO Wesley Hong Kong),浪漫情侣,香港,湾仔,湾仔轩尼诗道22号,4.6,3283.0,871.0
69,香港星网商务精品酒店(Wifi Boutique Hotel),浪漫情侣,香港,湾仔,湾仔 骆克道366号,4.4,1527.0,412.0
74,香港丽骏酒店(Brighton Hotel Hong Kong),浪漫情侣,香港,湾仔,湾仔骆克道128号,4.5,2383.0,1152.0
125,香港逸兰精品酒店(Lanson Place Hotel),浪漫情侣,香港,湾仔,铜锣湾礼顿道133号,4.7,2053.0,1349.0
130,香港珀丽酒店(Rosedale Hotel Hong Kong),浪漫情侣,香港,湾仔,铜锣湾信德街8号,4.4,7342.0,457.0
135,英皇骏景酒店(香港湾仔店)(The Emperor Hotel),浪漫情侣,香港,湾仔,皇后大道东373号,4.5,1040.0,526.0
161,香港华丽铜锣湾酒店(原香港华丽精品酒店)(Best Western Hotel Causew...,浪漫情侣,香港,湾仔,铜锣湾坚拿道西祥和里,4.2,5707.0,309.0
162,香港铜锣湾智选假日酒店(Holiday Inn Express Hong Kong Caus...,浪漫情侣,香港,湾仔,铜锣湾 霎东街33号,4.5,4550.0,774.0
184,香港问月酒店(Mira Moon Hong Kong),浪漫情侣,香港,湾仔,谢斐道388号,4.5,1044.0,1282.0
185,帆船精品酒店(VELA BOUTIQUE HOTEL),浪漫情侣,香港,湾仔,摩理臣山道84-86号,4.2,2063.0,413.0
186,铜锣湾迷你精品酒店(Mini Hotel Causeway Bay),浪漫情侣,香港,湾仔,铜锣湾新会道8号,4.3,4882.0,368.0
219,香港君临海域酒店(Gloucester Hotel),浪漫情侣,香港,湾仔,铜锣湾告士打道218号,4.5,2324.0,957.0

（5）查看所有地址在观塘或者油尖旺，评分大于4的酒店

In [43]:
df1[((df1.地区 == '观塘') |(df1.地区 == '油尖旺'))&(df1.评分>4)]

,名字,类型,城市,地区,地点,评分,评分人数,价格
4,香港碧荟酒店(The BEACON),商务出行,香港,油尖旺,九龙旺角洗衣街88号,4.7,328.0,747.0
6,如心艾朗酒店(L‘hotel elan),浪漫情侣,香港,观塘,观塘创业街38号,4.6,3427.0,581.0
8,海景嘉福洲际酒店(InterContinental Grand Stanford Hong ...,海滨风光,香港,油尖旺,尖沙咀東部麽地道70号,4.7,4366.0,1296.0
10,香港富豪九龙酒店(Regal Kowloon Hotel),休闲度假,香港,油尖旺,尖沙嘴麽地道71号,4.5,11265.0,692.0
12,香港广易商务宾馆(家庭旅馆)(WIDE EVER HOSTEL),地铁周边,香港,油尖旺,九龙旺角弥敦道607号新兴大厦14楼16单位,4.1,1029.0,218.0
...,...,...,...,...,...,...,...,...
365,香港珊瑚酒店(家庭旅馆)((Coral Inn)(Hostel)),地铁周边,香港,油尖旺,香港九龙尖沙咀弥敦道83-97号华源大厦9/F十楼D2室,4.4,149.0,379.0
374,香港意乐旅馆(eLog Inn),地铁周边,香港,油尖旺,佐敦道22号鸿运大厦4字楼H室,4.3,155.0,237.0
380,香港牛津尊贵旅舍(Oxford Premium Guest House),NaN,香港,油尖旺,尖沙咀弥敦道56-58号美丽都大厦16字楼A2室,4.7,15.0,NaN
381,香港恒好宾馆(Hang Ho Hostel),地铁周边,香港,油尖旺,九龙弥敦道242号立信大厦6字楼B室,4.5,142.0,445.0
397,香港御珑馆(家庭旅馆)(Hotel Conext),地铁周边,香港,油尖旺,九龙弥敦道240号立信大厦3楼B室,4.2,359.0,317.0

（6）查看类型缺失的数据

In [45]:
df1[df1['类型'].isnull()]

,名字,类型,城市,地区,地点,评分,评分人数,价格
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,香港颐庭酒店(铜锣湾店)(Eco Tree Hotel Causeway Bay),NaN,香港,东区,铜锣湾水星街15号,4.6,15.0,567.0
189,工業家酒店(IND Hotel),NaN,香港,观塘,九龙观塘观塘道326号,4.2,6.0,448.0
202,香港永倫800酒店(WINLAND800HOTEL),NaN,香港,葵青,新界青衣路一号,3.4,3098.0,196.0
243,香港港湾酒店(Hong Kong Harbor Hotel),NaN,香港,南区,香港仔石排湾道47号,3.8,709.0,259.0
270,香港奥斯酒店(O‘ Hotel),NaN,香港,九龙城,香港九龙土瓜湾九龙城道42-46号,3.7,869.0,369.0
286,"巴黎旅馆(Paris Guest House (D2, 10/F))",NaN,香港,NaN,"Flat D2, 10/F, Block D, Chungking Mansion, 40 ...",2.0,5.0,67.0
302,香港海景渡假乐园(Hong Kong Seaview Holiday Resort),NaN,香港,离岛,大屿山梅窝东湾头路11号,2.9,5.0,881.0
303,香港海边小屋(The Cove Hostel),NaN,香港,离岛,"大屿山塘福村17D,1-2字楼",NaN,2.0,352.0
306,香港和平宾馆(HK Peace Guest House),NaN,香港,NaN,尖沙咀弥敦道58号美丽都大厦13楼A5室,NaN,NaN,201.0
308,香港文苑宾馆(Man Yuen Hotel),NaN,香港,油尖旺,旺角弥敦道737号金轮大厦二楼H室,4.7,5.0,169.0
317,墨尔本宾馆(Melbourne Hostel),NaN,香港,NaN,九龙尖沙咀弥敦道40号重庆大厦E座10字楼E1室,NaN,2.0,93.0
320,香港百丽旅馆(Park Guest House),NaN,香港,油尖旺,九龙尖沙咀海防道53至55号海防大厦1楼10号,NaN,6.0,445.0
323,香港尊贵旅馆(Hong Kong Premium Guest House),NaN,香港,油尖旺,"尖沙咀弥敦道56-58号美丽都大厦16字楼B2,A5室（前台入住办理设在16字楼A2室）",4.8,19.0,166.0
324,香港美华宾馆(Mei Wah Guest House),NaN,香港,NaN,九龙旺角弥敦道737号金轮大厦9字楼F座,4.0,27.0,250.0
325,香港威尼斯宾馆,NaN,香港,NaN,香港油尖旺区旺角弥顿道580号恒隆大厦4楼,4.7,48.0,298.0
329,80后潘多拉旅馆(香港佐敦店)(原华丰宾馆)(Pandora After 80s Jordan),NaN,香港,油尖旺,九龙佐敦佐敦道15号华丰大厦1字楼H室,3.1,36.0,70.0
337,香港Primo旅馆(Primo Guesthouse),NaN,香港,NaN,九龙尖沙咀弥敦道40号重庆大厦E座3字楼E3室,NaN,1.0,131.0
339,纳里旅馆(Narli Guest House),NaN,香港,油尖旺,尖沙咀弥敦道36-44号重庆大厦16字楼D座D8室,NaN,NaN,175.0
345,香港宿雾宾馆(Cebu Hotel),NaN,香港,NaN,弥敦道36-44号重庆大厦A座17字楼A6 & A7室,NaN,1.0,113.0
350,美丽宾馆(Lily Guest House),NaN,香港,NaN,九龙尖沙咀弥敦道40号重庆大厦E座8字楼E3室（于E座8楼E1室登记入住）,NaN,NaN,165.0
366,全球旅舍(Global Inn),NaN,香港,NaN,弥敦道36-44号重庆大厦C座6楼C2室 (登记前台於E座8楼E1室),NaN,2.0,165.0
373,珠峰宾馆(Everest Guest House (3/F)),NaN,香港,NaN,九龙尖沙咀弥敦道40号重庆大厦D座3字楼5-6室,NaN,1.0,181.0
380,香港牛津尊贵旅舍(Oxford Premium Guest House),NaN,香港,油尖旺,尖沙咀弥敦道56-58号美丽都大厦16字楼A2室,4.7,15.0,NaN
383,香港俄罗斯旅舍(Russian Hostel),NaN,香港,NaN,香港九龙弥敦道40号重庆大厦D座16楼1室,NaN,NaN,175.0
386,尊贵闲庭酒店(Premium Lounge),NaN,香港,NaN,"Flat A6 & A7, 16/F, Block A, Chungking Mansion...",NaN,1.0,166.0
401,香港新天天酒店(Everyday Inn Hotel),NaN,香港,油尖旺,佐敦庙街230-236号韶兴大厦5字楼B座,NaN,NaN,350.0
405,伍德斯托克旅馆(Woodstock Hostel),NaN,香港,NaN,"Flat A1-A6, 16/F, Block A, Chungking Mansions,...",NaN,NaN,172.0
406,旅客宾馆(Traveller‘s Hostel),NaN,香港,NaN,九龙尖沙咀弥敦道40号重庆大厦A座16字楼A1& A2室,NaN,NaN,269.0
407,欧若旅馆(Euro Hostel),NaN,香港,NaN,"Flat 6, Block D, 17/F, Chungking Mansion,",NaN,NaN,174.0
408,香港Prestige旅馆(Prestige Guesthouse),NaN,香港,NaN,弥敦道40号重庆大厦E座3字楼E1室,NaN,NaN,122.0
413,香港兰涛度假屋(Lantau Lodge),NaN,香港,荃湾,大屿山水口村47A号2楼,NaN,NaN,1035.0

（7）用“其他”填充类型和地区

In [47]:
df1['类型'].fillna('其他',inplace=True)
df1['地区'].fillna('其他',inplace=True)
df1[df1['类型'].isnull()]

Empty DataFrame
Columns: [名字, 类型, 城市, 地区, 地点, 评分, 评分人数, 价格]
Index: []

（8）用评分均值填充缺失值

In [48]:
df1['评分'].fillna(np.mean(df1['评分']),inplace=True)
df1[:10]

,名字,类型,城市,地区,地点,评分,评分人数,价格
1,NaN,其他,NaN,其他,NaN,4.283827,NaN,NaN
2,香港嘉湖海逸酒店(Harbour Plaza Resort City),休闲度假,香港,元朗,天水围 天恩路18号,4.600000,17604.0,422.0
3,香港铜锣湾皇悦酒店(Empire Hotel Hong Kong-Causeway Bay),浪漫情侣,香港,东区,铜锣湾永兴街8号,4.500000,12708.0,693.0
4,香港碧荟酒店(The BEACON),商务出行,香港,油尖旺,九龙旺角洗衣街88号,4.700000,328.0,747.0
5,香港湾仔帝盛酒店(Dorsett Wanchai),浪漫情侣,香港,湾仔,皇后大道东387-397号,4.400000,5014.0,693.0
6,如心艾朗酒店(L‘hotel elan),浪漫情侣,香港,观塘,观塘创业街38号,4.600000,3427.0,581.0
7,香港隆堡柏宁顿酒店(Hotel Pennington by Rhombus),浪漫情侣,香港,湾仔,铜锣湾边宁顿街13-15号,4.500000,1938.0,869.0
8,海景嘉福洲际酒店(InterContinental Grand Stanford Hong ...,海滨风光,香港,油尖旺,尖沙咀東部麽地道70号,4.700000,4366.0,1296.0
9,香港怡东酒店(Excelsior Hotel),海滨风光,香港,湾仔,铜锣湾告士打道281号,4.600000,6961.0,1184.0
10,香港富豪九龙酒店(Regal Kowloon Hotel),休闲度假,香港,油尖旺,尖沙嘴麽地道71号,4.500000,11265.0,692.0

（9）删除价格和评分人数的缺失值

In [51]:
df1 = df1.drop(df1[df1['价格'].isnull()].index)
df1 = df1.drop(df1[df1['评分人数'].isnull()].index)
df1.head()

,名字,类型,城市,地区,地点,评分,评分人数,价格
2,香港嘉湖海逸酒店(Harbour Plaza Resort City),休闲度假,香港,元朗,天水围 天恩路18号,4.6,17604.0,422.0
3,香港铜锣湾皇悦酒店(Empire Hotel Hong Kong-Causeway Bay),浪漫情侣,香港,东区,铜锣湾永兴街8号,4.5,12708.0,693.0
4,香港碧荟酒店(The BEACON),商务出行,香港,油尖旺,九龙旺角洗衣街88号,4.7,328.0,747.0
5,香港湾仔帝盛酒店(Dorsett Wanchai),浪漫情侣,香港,湾仔,皇后大道东387-397号,4.4,5014.0,693.0
6,如心艾朗酒店(L‘hotel elan),浪漫情侣,香港,观塘,观塘创业街38号,4.6,3427.0,581.0

（10）保存到“酒店数据1.xlsx”

In [52]:
df1.to_excel("香港酒店数据c.xlsx")